<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>

<body>
<p>
Ahoj <%= @user.login %>,
</p>

<p>
toto je automatická připomínka platby členského příspěvku.
</p>

<table>
    <tr>
        <td>Zaplaceno do:</td>
        <% t = @user.paid_until %>
        <td><%= t ? t.strftime('%Y-%m-%d') : '---' %></td>
    </tr>
    <tr>
        <td>Variabilní symbol:</td>
        <td><%= @user.id %></td>
    </tr>
    <tr>
        <td>Částka:</td>
        <td>
            <%= @user.monthly_payment %> Kč
            nebo
            <%= @user.monthly_payment  / 25 %> € na měsíc
        </td>
    </tr>
    <tr>
      <td>Doklad:</td>
      <td>na vyžádání, viz <a href="#invoice">níže</a></td>
    </tr>
</table>

<p>
Preferujeme platby minimálně na 3 měsíce dopředu. Neuhradíš-li členský příspěvek
do <strong><%= (@user.expiration_date + 14 * 24 * 60 * 60).strftime('%Y-%m-%d') %></strong>, Tvé členství bude pozastaveno a následně ukončeno.
</p>

<h3>Platba v CZK</h3>
<p>
Číslo účtu pro CZK (ČR): <em>2200041594/2010</em><br>
IBAN: <em>CZ0420100000002200041594</em> BIC: <em>FIOBCZPPXXX</em>
</p>

<p>
Příchod platby lze zkontrolovat zde:<br>
<a href="https://www.fio.cz/ib2/transparent?a=2200041594">https://www.fio.cz/ib2/transparent?a=2200041594</a>
</p>

<h3>Platba v EUR</h3>
<p>
Číslo účtu pro EUR (SR): <em>SK20 8330 0000 0026 0150 2873</em><br>
BIC: <em>FIOZSKBA</em>
</p>

<p>
Příchod platby lze zkontrolovat zde:<br>
<a href="https://ib.fio.cz/ib/transparent?a=2601502873">https://ib.fio.cz/ib/transparent?a=2601502873</a>
</p>

<h3>QR kódy</h3>
<p>
<% three_months_payment = @user.monthly_payment * 3 %>
QR kód pro platbu na 3 měsíce dopředu (vždy ověř správnost údajů):
</p>

<table cellspacing="27">
    <tr>
        <td>Pro Českou republiku (CZK)</td>
        <td>Pro Slovenskou republiku (EUR)</td>
    </tr>
    <tr>
        <td>
            <img alt="ČR QR kód"

                                src="https://vpsfree.cz/nastroje/qr.php?country=cz&amount=<%= three_months_payment %>&vs=<%= @user.id %>"    
                width="145"
                height="145">
        </td>
        <td>
            <img alt="SR QR kód"
                src="https://vpsfree.cz/nastroje/qr.php?country=sk&amount=<%= three_months_payment / 25 %>&vs=<%= @user.id %>"                 
                width="145"
                height="145">
        </td>
    </tr>
</table>

<p id="invoice">
Pokud potřebuješ k platbě vystavit fakturu, odpověz prosím na tento e-mail
a požádej o ni. Faktury automaticky nevystavujeme. Nezapomeň uvést fakturační
údaje, pokud žádáš o svou první fakturu.
</p>

<p>
Máš-li nějaký dotaz, jednoduše odpověz na tento e-mail, zašle se na naši
podporu.
</p>

<p>
Zasílání těchto e-mailů lze vypnout ve vpsAdminu v nastavení profilu, položka "vpsAdmin mailer".
</p>

<p>
S pozdravem<br>

vpsAdmin @ vpsFree.cz
</p>

</body>
</html>
