<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>

<body>
<p>
Hi <%= @user.login %>,
</p>

<% if @expired_days_ago.between?(13, 14) -%>
<p>
your membership at vpsFree.cz is going to be suspended, because we have not
received the membership fee. If you wish to renew the membership, please let
us know and pay the membership fee as soon as possible. If you need more time
to make the payment, we will be happy to wait a bit longer.
</p>
<% else -%>
<p>
this is an automated reminder for payment of the membership fee.
</p>
<% end -%>

<table>
    <tr>
        <td>Expiration date:</td>
        <% t = @user.paid_until %>
        <td><%= t ? t.strftime('%Y-%m-%d') : '---' %></td>
    </tr>
    <tr>
        <td>Variable symbol:</td>
        <td><%= @user.id %></td>
    </tr>
    <tr>
        <td>Message (<a href="#message">more info</a>):</td>
        <td><code>/VS/<%= @user.id %></code></td>
    </tr>
    <tr>
        <td>Sum:</td>
        <td>
            <%= @user.monthly_payment %> Kč
            or
            <%= @user.monthly_payment  / 25 %> € per month
        </td>
    </tr>
    <tr>
      <td>Invoice:</td>
      <td>on request, see <a href="#invoice">below</a></td>
    </tr>
</table>

<p>
Payments for at least 3 months ahead are preferred. Unless the membership fee
is paid to <%= (@user.expiration_date + 14 * 24 * 60 * 60).strftime('%Y-%m-%d') %>, your membership will be suspended
and later terminated.
</p>

<h3>Payment in CZK</h3>
<p>
Back account for CZK (CZ): <em>2200041594/2010</em><br>
IBAN: <em>CZ0420100000002200041594</em> BIC: <em>FIOBCZPPXXX</em>
</p>

<p>
Payment arrival can be checked here:<br>
<a href="https://www.fio.cz/ib2/transparent?a=2200041594">https://www.fio.cz/ib2/transparent?a=2200041594</a>
</p>

<h3>Payment in EUR</h3>
<p>
Back account for EUR (SK): <em>SK20 8330 0000 0026 0150 2873</em><br>
BIC: <em>FIOZSKBA</em>
</p>

<p>
Payment arrival can be checked here:<br>
<a href="https://ib.fio.cz/ib/transparent?a=2601502873">https://ib.fio.cz/ib/transparent?a=2601502873</a>
</p>

<h3>QR codes</h3>
<p>
<% three_months_payment = @user.monthly_payment * 3 %>
QR code for payment for 3 months (always verify that the information is correct):
</p>

<table cellspacing="27">
    <tr>
        <td>For the Czech Republic</td>
        <td>For the Slovak Republic</td>
    </tr>
    <tr>
        <td>
            <img alt="CZ QR kód"
                 src="https://vpsfree.cz/nastroje/qr.php?country=cz&amount=<%= three_months_payment %>&vs=<%= @user.id %>"
                 width="145"
                 height="145">
        </td>
        <td>
            <img alt="SK QR kód"
                 src="https://vpsfree.cz/nastroje/qr.php?country=sk&amount=<%= three_months_payment / 25 %>&vs=<%= @user.id %>"
                 width="145"
                 height="145">
        </td>
    </tr>
</table>

<p id="message">
If your bank does not recognize variable symbols, you can send your member ID
in a message to the recipient as <code>/VS/<%= @user.id %></code>, the wording
will depend on your bank.
</p>

<p>
In case a bank transfer is not practical for you, please see
<a href="https://kb.vpsfree.org/information/membership_fees#alternative_payment_methods">alternative payment methods in KB</a>.
</p>

<p id="invoice">
If you require an invoice, please reply to this e-mail and let us know. We do not
issue invoices automatically. Please include your billing information if this
is going to be the first invoice to be issued.
</p>

<p>
Should you have any questions, please reply to this e-mail.
</p>

<p>
Further notifications about this payment can be disabled in
<a href="<%= @base_url %>?page=reminder&resource=user&id=<%= @user.id %>">
vpsAdmin</a>.
</p>

<p>
Best regards,<br>

vpsAdmin @ vpsFree.cz
</p>

</body>
</html>
