<html>
<body>
<p>Hi <%= @dl.user.login %>,</p>

<p>link to download a backup of <%= "#{@dl.snapshot.dataset.name}@#{@dl.snapshot.name}" %></p>

<p><a href="<%= @base_url %>?page=backup&action=download_link&id=<%= @dl.id %>"><%= @base_url %>?page=backup&action=download_link&id=<%= @dl.id %></a></p>

<p>The link will be available until <%= @dl.expiration_date.localtime.strftime('%Y-%m-%d %H:%M %Z') %>.</p>

<p>Should you have any questions, please contact podpora@vpsfree.cz.</p>

<p>
  Best regards,<br>
  vpsFree.cz team
</p>

<p>(This is an automated mail from vpsAdmin, your reply will be sent to our support)</p>
</body>
</html>
