<%
def url(page, params = nil)
  @base_url + "?page=" + page + (params ? "&#{params}" : "")
end

def duration(interval)
  d = interval / 86400
  h = interval / 3600 % 24
  m = interval / 60 % 60
  s = interval % 60

  if d > 0
    "%d days, %02d:%02d:%02d" % [d, h, m, s]
  else
    "%02d:%02d:%02d" % [h, m, s]
  end
end

def time(t)
  return '---' unless t
  t.localtime.strftime("%Y-%m-%d %H:%M:%S")
end

def truncate(arr, cnt = 10)
  return arr if arr.size <= cnt
  n = arr.size / cnt
  (n - 1).step(arr.size - 1, n).map { |i| arr[i] }[0..(cnt - 1)]
end
%>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      h1, h2, h3, h4, h5, h6 {
        margin: 15px 0 10px 0;
      }

      h3 {
        font-size: 18px;
      }

      p, table, ul, ol, dl, fieldset {
        margin: 15px 0;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 100%;
      }

      th {
        text-align: center;
        font-weight: bold;
      }

      th, td {
        padding: 3px 7px;
      }

      table th {
        background: #5EAFFF;
        color: #FFF;
      }

      table th, table td {
        border: 1px solid #B2DAFF;
      }

      table.log tr td:nth-child(2) {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <p>Hi <%= @user.login %>,</p>
    <p>
      the issue with high outgoing data flow has been resolved.
    </p>
    <table>
      <tr>
        <th>Monitored since:</th>
        <td><%= time(@event.created_at) %></td>
      </tr>
      <tr>
        <th>Duration:</th>
        <td><%= duration(@event.closed_at - @event.created_at) %></td>
      </tr>
    </table>
    <h3>Log</h3>
    <table class="log">
      <tr>
        <th>Date</th>
        <th>Data flow [Mbps]</th>
      </tr>
      <% truncate(@event.monitored_event_logs.to_a).each do |log| %>
        <tr>
          <td><%= time(log.created_at) %></td>
          <td><%= (log.value / 1024 / 1024).round(2) %></td>
        </tr>
      <% end %>
    </table>
    <p>
      Best regards,<br>

      vpsFree.cz team
    </p>
    <p>
      (This is an automated mail from vpsAdmin, your reply will be sent to our support)
    </p>
  </body>
</html>
