<html>
  <head>
    <meta charset="utf-8">
    <style>
      h1, h2, h3, h4, h5, h6 {
        margin: 15px 0 10px 0;
      }

      h3 {
        font-size: 18px;
      }

      p, table, ul, ol, dl, fieldset {
        margin: 15px 0;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 100%;
      }

      th {
        text-align: center;
        font-weight: bold;
      }

      th, td {
        padding: 3px 7px;
      }

      table th {
        background: #5EAFFF;
        color: #FFF;
      }

      table th, table td {
        border: 1px solid #B2DAFF;
      }
    </style>
  </head>
  <body>
    <p>Ahoj <%= @vps.user.login %>,</p>
    <p>
      ve VPS <%= @vps.id %> <%= @vps.hostname %> dochází paměť.
    </p>
    <p>
      <% if @all_oom_count == 1 -%>
      Byl zaznamenán <%= @all_oom_count %> případ
      <% elsif @all_oom_count <= 4 -%>
      Byly zaznamenány <%= @all_oom_count %> případy
      <% else -%>
      Bylo zaznamenáno <%= @all_oom_count %> případů
      <% end -%>
      vyčerpání paměti:
    </p>
    <table>
      <tr>
        <th>Datum a čas</th>
        <th>Akce</th>
        <th>Počet</th>
        <th>Více info</th>
      </tr>
      <% @selected_oom_reports.each do |r| -%>
        <tr>
          <td><%= r.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S %Z') %></td>
          <td><%= r.killed_name ? "Ukončen #{r.killed_name}" : 'Nic neukončeno' %></td>
          <td><%= r.count %></td>
          <td><a href="<%= @base_url %>?page=oom_reports&action=show&id=<%= r.id %>">Podrobnosti</a></td>
        </tr>
      <% end -%>
    </table>
<% if @all_oom_count != @selected_oom_count -%>
    <p>
      <% remaining_reports = @all_oom_count - @selected_oom_count -%>
      <% if remaining_reports == 1 -%>
      Následoval další
      <% elsif remaining_reports <= 4 -%>
      Následovaly další
      <% else -%>
      Následovalo dalších
      <% end -%>
      <a href="<%= @base_url %>?page=oom_reports&vps=<%= @vps.id %>&list=1">
      <%= @all_oom_count - @selected_oom_count %>
      <% if remaining_reports == 1 -%>
      případ
      <% elsif remaining_reports <= 4 -%>
      případy
      <% else -%>
      případů
      <% end -%>
      </a>.
    </p>
<% end -%>
    <p>
      S pozdravem<br>

      tým vpsFree.cz
    </p>
    <p>
      (Tento mail automaticky rozesílá vpsAdmin, Tvoje odpověď se zašle na naši podporu)
    </p>
  </body>
</html>
